{{ >main/header }}

{{ #orga }}
    <button class="ui button" onclick="window.location.href='/orgas/'">
        <i class="icon times"></i>
        Fermer
    </button>
    <button class="ui basic negative button" onclick="window.location.href='/orgas/delete/{{ id }}'">
        <i class="icon times"></i>
        Supprimer {{ domain }}...
    </button>
    <button class="ui basic button" onclick="window.location.href='/orgas/edit/{{ id }}'">
        <i class="icon times"></i>
        Supprimer {{ domain }}...
    </button>

    <table class="ui celled definition table ">
        <tbody>
            <tr>
                <td>Id</td>
                <td>{{ id }}</td>
            </tr>
            <tr>
                <td>Name</td>
                <td>{{ name }}</td>
            </tr>
            <tr>
                <td>Domain</td>
                <td>{{ domain }}</td>
            </tr>
            <tr>
                <td>Aliases</td>
                <td>{{ aliases }}</td>
            </tr>
            <tr>
                <td>Groups</td>
                <td>
                    {{ #groups }}
                        {{ name }} <br>
                    {{ /groups }}
                </td>
            </tr>
            <tr>
                <td>Users</td>
                <td>
                    {{ #users }}
                        {{ name }} <br>
                    {{ /users }}
                </td>
            </tr>
        </tbody>
    </table>

{{ /orga }}


{{ >main/footer }}