{{ >main/header }}

<form method="post" action="/orgas/store" class="form ui">
    <div class="field">
        <label for="name">Name</label>
        <input id="name" type="text" name="name" placeholder="Name">
    </div>
    <div class="field">
        <label for="domain">Domain</label>
        <input id="domain" type="text" name="domain" placeholder="Domain">
    </div>
    <div class="field">
        <label for="aliases">Aliases</label>
        <input id="aliases" type="text" name="aliases" placeholder="Aliases">
    </div>

    <button class="ui positive button" type="submit">Validate</button>
    <button class="ui button" type="reset">Cancel</button>

</form>



{{ >main/footer }}