{{>/main/header}}

<form method="post" action="./login" class="ui form">
    <div class="ui field">
        <label for="username">Username</label>
        <input class="ui input" type="text" id="username" name="username" placeholder="E-mail or Username" />
    </div>
    <div class="ui field">
        <label for="password">Password</label>
        <input class="ui input" type="password" id="password" name="password" placeholder="Password" />
    </div>
    <input class="ui button" type="submit" value="Login" />
</form>

{{>/main/footer}}