{{>/main/header}}

<form method="post" class="ui form">
    <div class="ui field">
        <label for="username">Username</label>
        <input class="ui input" type="text" id="username" name="username" placeholder="E-mail or Username" />
    </div>
    <div class="ui field">
        <label for="email">Adresse email</label>
        <input class="ui input" type="email" id="email" name="email" placeholder="Adresse email" />
    </div>
    <div class="ui field">
        <label for="password">Password</label>
        <input class="ui input" type="password" id="password" name="password" placeholder="Password" />
    </div>
    <div class="ui field">
        <label for="confPassword">Confirm Password</label>
        <input class="ui input" type="password" id="confPassword" name="confPassword" placeholder="Password Confirmation" />
    </div>
    <input class="ui button" type="submit" value="Sign up" />
</form>

{{>/main/footer}}