<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Messagerie avec Vue</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.0/semantic.min.css" integrity="sha512-PwhgdrueUt7iVICnZMjYcbiLalCztrVfzUIYXekIK8hZu4DQP141GrKh6fUHmNERWi4bGdBXIZqtBZnsSzHEMg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
<div id="app" class="ui container">
    <div class="ui menu">
        <div class="header item">Master & dogs</div>
        <div class="item right floated">Version : <span class="ui brown label">1.0.0</span></div>
    </div>