<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Balance ton pro...</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.2/semantic.min.css" integrity="sha512-n//BDM4vMPvyca4bJjZPDh7hlqsQ7hqbP9RH18GF2hTXBY5amBwM2501M0GPiwCU/v9Tor2m13GOTFjk00tkQA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
<div id="app" class="ui container">
    <div class="ui inverted menu">
        <a href="/" class="header item">Balance ton pro...</a>
        <div class="item right floated">Version : <span class="ui inverted label">2.0.0</span></div>
    </div>