<h2 class="ui header">Développeurs
<div class="ui olive left pointing label count-developers" >{!developers.length!}</div>
</h2>


<div class="ui top attached segment info message olive">
        <i class="info icon"></i>
        Ajout rapide de développeur
    </div>
<div class="ui attached segment">

    <div>
        <div class="ui action left input">
            <input type="text" placeholder="firstname" v-model="developer.firstname">
            <input type="text" placeholder="lastname" v-model="developer.lastname">
            <button class="ui icon button" @click="add(developer)"><i class="plus icon"></i></button>
        </div>
    </div>
</div>



<table class="ui table">
    <thead>
        <tr>
            <th>Développeur</th>
            <th>Stories</th>
            <th>Actions</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr v-for="developer in developers">
            <td>{!developer.firstname!} {!developer.lastname!}</td>
            <td>
                <div v-for="story in developer.stories" class="ui label td dev-story">
                    {!story.name!}
                    <i class="remove icon"></i>
                </div>
            <td>
                <div class="ui action left input" >
                    <input class="ui input" type="text" placeholder="story name">
                    <button class="ui button positive" value="add">Ajouter US & Affecter</button>
                </div>
            </td>
            <td>
                <a class="ui button delete-developer button black" @click="remove(developer)">
                    <i class="sign out icon"></i>
                    Quitter le projet
                </a>
            </td>
        </tr>
    </tbody>
</table>
<div class="ui segment message warning">
    <i class="warning icon"></i>
    Il n'y a pas de développeurs dans la base de données.
</div>
