<h2 class="ui header">Développeurs
<div class="ui olive left pointing label count-developers" >{{nbDevelopers}}</div>
</h2>


<div class="ui top attached segment info message olive">
        <i class="info icon"></i>
        Ajout rapide de développeur
    </div>
<div class="ui attached segment">

    <form action="/developer/add" method="post">
        <div class="ui action left input">
            <input type="text" name="firstname" placeholder="firstname">
            <input type="text" name="lastname" placeholder="lastname">
            <button class="ui icon button">
                <i class="plus icon"></i>
            </button>
        </div>
    </form>
</div>



<table class="ui table">
    <thead>
        <tr>
            <th>Développeur</th>
            <th>Stories</th>
            <th>Actions</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {{#developers}}
        <tr>
            <td>{{firstname}} {{lastname}}</td>
            <td>
                {{#stories}}
                    <div class="ui label td dev-story">{{name}}
                        <a href="/story/{{id}}/giveup" class="detail giveup-story">
                            <i class="remove icon"></i>
                        </a>
                    </div>
                {{/stories}}
            <td>
                <form action="/developer/{{id}}/story" method="post">
                    <div class="ui action left input">
                        <input class="ui input" type="text" name="name" placeholder="story name">
                        <button class="ui button positive" name="story-action" value="add">Ajouter US & Affecter</button>
                    </div>
                </form>
            </td>
            <td>
                <a href="/developer/{{id}}/delete" class="ui button delete-developer button black">
                    <i class="sign out icon"></i>
                    Quitter le projet
                </a>
            </td>
        </tr>
    {{/developers}}

    </tbody>
</table>
{{^developers}}
<div class="ui segment message warning">
    <i class="warning icon"></i>
    Il n'y a pas de développeurs dans la base de données.
</div>
{{/developers}}