    <form method="{{method}}" action="/{{url}}/store" class="form ui">
        {{ #fields }}
        <div class="field">
            <label for="{{name}}">{{label}}</label>

            {{ #select }}
                <select name="{{name}}" id="{{name}}" class="ui dropdown">
                    {{ #options }}
                    <option value="{{value}}" {{#selected}}selected{{/selected}} >{{label}}</option>
                    {{ /options }}
                </select>
            {{ /select }}

            {{ #multiSelect }}
                <div class="ui fluid multiple search selection dropdown" id="{{name}}">
                <input name="{{name}}" type="hidden" value="{{selectedOptions}}">
                <i class="dropdown icon"></i>
                <div class="default text"></div>
                    <div class="menu">
                        {{ #options }}
                            <div class="item " data-value="{{value}}">{{label}}</div>
                        {{ /options }}
                    </div>
                </div>
            {{ /multiSelect }}

            {{ #textArea }}
                <textarea name="{{name}}" id="{{name}}" rows="5" class="ui input"></textarea>
            {{ /textArea }}

            {{ #input }}
            {{ /input }}

        </div>
        {{ /fields }}

        <button class="ui positive button" type="submit">Validate</button>
        <a class="ui button" type="reset" href="/{{url}}">Cancel</a>
    </form>



