
    <table class="ui table">
        <thead>
        <tr>
            {{ #columns }}
                <th>{{ . }}</th>
            {{ /columns }}
            <th></th>
        </tr>
        </thead>
        <tbody>
        {{ #rows }}
            <tr style="cursor: pointer" onclick="window.location.href='/{{url}}/details/{{id}}'">
                {{ #columns }}
                    <td>{{ . }}</td>
                {{ /columns }}
                <td>
                    <a href="/{{url}}/display/{{id}}" class="circular ui icon basic button">
                        <i class="icon eye"></i>
                    </a>
                    <a href="/{{url}}/edit/{{id}}" class="circular ui icon basic button">
                        <i class="icon edit"></i>
                    </a>
                    <a href="/{{url}}/delete/{{id}}" class="circular ui icon basic button negative">
                        <i class="icon times"></i>
                    </a>
                </td>
            </tr>
        {{ /rows }}
        </tbody>
        <tfoot>
            <tr>
                <th colspan="6">
                    <div class="ui right floated pagination menu">
                        <div class="ui search">
                            <form action="/{{url}}/search" method="get">
                                <div class="ui icon input">
                                    <input type="text" name="query" placeholder="Rechercher..." value="{{#query}}{{query}}{{/query}}">
                                    <i class="search icon"></i>
                                </div>
                                <button type="submit" style="display: none;"></button>
                            </form>
                            <div class="results"></div>
                        </div>
                    </div>
                </th>
            </tr>
        </tfoot>
    </table>