{{ >main/header }}

{{ #user }}
<form method="post" action="/users/store" class="form ui">
    <input type="hidden" name="id" value="{{ id }}">

    <div class="field">
        <label for="firstname">Firstname</label>
        <input id="firstname" type="text" name="firstname" placeholder="Firstname" value="{{ firstname }}">
    </div>
    <div class="field">
        <label for="lastname">Lastname</label>
        <input id="lastname" type="text" name="lastname" placeholder="Lastname" value="{{ lastname }}">
    </div>
    <div class="field">
        <label for="email">Email</label>
        <input id="email" type="text" name="email" placeholder="Email" value="{{ email }}">
    </div>

    <button class="ui positive button" type="submit">Validate</button>
    <button class="ui button" type="reset">Cancel</button>
</form>
{{ /user }}


{{ >main/footer }}