{{> main/header }}


{{#root}}
<div class="ui header">
    {{root.name}}
</div>

<div class="ui header">
    Domaine(s)
    <div class="left pointing ui label">
        {{root.children.size}}
    </div>
</div>

<div class="ui cards">
    {{#root.children}}
    <div class="card">
        <div class="content">
            <div class="header">
                {{name}}
            </div>
            <div class="meta">
                {{providers.size}} providers
            </div>
            <div class="description">
                {{description}}
            </div>

            <div class="">
                {{getComplaintsCount}} plaintes
                <div class="ui label">
                    {{complaints.size}}
                </div>

            </div>
        </div>
        <a class="ui button" href="/domain/{{name}}">
            <i class="door open icon"></i>
            Ouvrir
        </a>
    </div>

    {{/root.children}}
</div>

{{/root}}




{{> main/footer }}