{{> main/header }}
<h2 class="ui header">Propriétaires <span class="ui blue left pointing label count-masters">{{masters.size}}</span></h2>
<div class="ui attached info message">
    <i class="icon info"></i>
    Ajout rapide de propriétaire
</div>
    <div class="ui attached segment">
        <form class="ui form" method="post" action="/master/add">
            <div class="inline fields">
                <div class="field">
                    <div class="ui action input">
                        <input type="text" name="firstname" placeholder="firstname" required>
                        <input type="text" name="lastname" placeholder="lastname" required>
                        <button  class="ui icon button">
                            <i class="plus icon"></i>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
<table class="ui table">
    <thead>
    <tr>
        <th>Propriétaire</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
{{#masters}}
    <tr>
        <td><a href="/master/{{id}}">{{firstname}} {{lastname}}</a> <span class="ui label count-master-dogs"><i class="ui dog icon"></i> {{dogs.size}}</span></td>
        <td>
            <form method="post" action="/master/{{id}}/dog" class="ui form">
                <div class="inline fields">
                    <div class="field">
                        <div class="ui action input">
                            <input type="text" name="name" placeholder="dog name" required>
                            <div class="ui buttons">
                                <button class="ui negative button" name="dog-action" value="give-up">Abandonner</button>
                                <div class="or" data-text="ou"></div>
                                <button class="ui positive button" name="dog-action" value="add">Acquérir</button>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <a href="/master/{{id}}/delete" class="ui black button delete-master"><i class="ui skull crossbones icon"></i> Paix à son âme</a>
                    </div>
                </div>
            </form>
        </td>
    </tr>
{{/masters}}
    {{^hasMasters}}
        <tr>
            <td colspan="2">
                <div class="ui icon warning message">
                    <i class="ui warning circle icon"></i>
                    <div class="content">
                        <div class="header">
                            Pas de maître
                        </div>
                        <p>Il n'y a pas de maître dans la base de données.</p>
                    </div>
            </td>
        </tr>
    {{/hasMasters}}
    </tbody>
</table>
<h2 class="ui header">Chiens à l'adoption <span class="ui red left pointing label count-dogs">{{dogs.size}}</span></h2>
<table class="ui table">
    <thead>
    <tr>
        <th>
            Chien
        </th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {{#dogs}}
        <tr>
            <td>
                {{name}}
            </td>
            <td>
                <form method="post" action="/dog/{{id}}/action" class="ui form">
                    <div class="inline fields">
                        {{#hasMasters}}
                        <div class="field">
                            <div class="ui action input">
                                <select name="master" class="ui selection dropdown">
                                    {{#masters}}
                                        <option value="{{id}}">{{firstname}} {{lastname}}</option>
                                    {{/masters}}
                                </select>
                                <button class="ui icon button" name="dog-action" value="adopt">
                                    <i class="plus icon"></i>
                                </button>
                            </div>
                        </div>
                        {{/hasMasters}}
                        {{^hasMasters}}
                            <div class="field">
                                Pas d'adoptant
                            </div>
                        {{/hasMasters}}
                        <div class="field">
                            <div class="ui action input">
                                <button class="ui negative icon button" name="dog-action" value="remove">
                                    <i class="ui sign out alternate icon"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </td>
        </tr>
    {{/dogs}}
    {{^dogs}}
        <tr>
            <td colspan="2">
                <div class="ui icon success message">
                    <i class="ui info circle icon"></i>
                    <div class="content">
                        <div class="header">
                            Pas de chien
                        </div>
                        <p>Il n'y a pas de chien à l'adoption dans la base de données.</p>
                    </div>
                </div>
            </td>
        </tr>
    {{/dogs}}
    </tbody>
</table>
{{> main/footer }}