{{> main/header }}


{{#domain}}
<div class="ui header blue">
    {{name}}
</div>

<div class="ui header inverted">
    Domaine(s)
    <div class="left pointing ui label">
        {{children.size}}
    </div>
</div>

{{#back}}
<a class="ui button" href="{{back}}">
    <i class="door open icon"></i>
    Retour
</a>
{{/back}}

<hr>

<div class="ui cards">
    {{#children}}
    <div class="card">
        <div class="content">
            <div class="header">
                {{name}}
            </div>
            <div class="meta">
                {{providers.size}} providers
            </div>
            <div class="description">
                {{description}}
            </div>

            <div >
                <i class="bug icon purple"></i>
                <a href="/complaints/{{name}}">
                {{getComplaintsCount}} plaintes
                </a>
                <div class="ui label">
                    {{complaints.size}}
                </div>
            </div>
        </div>
        {{#hasChildren}}
        <a class="ui button" href="/domain/{{name}}">
            <i class="door open icon"></i>
            Ouvrir
        </a>
        {{/hasChildren}}

    </div>
    {{/children}}
</div>

{{/domain}}

{{> main/footer }}